* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  background-color: #08f;
  color: white;
  text-align: center;
}

header {
  padding: 60px;
  text-align: left;
}

h1 {
  transform: translateY(50%);
}

.decr {
  max-width: 300px;
  margin: 100px auto;
}

button {
  background-color: white;
  transition: 0.2s;
  color: #08f;
  font-size: 18px;
  border: 1px solid white;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
}

button:hover,
button:active {
  background-color: #08f;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.hide {
  display: none;
}

.questions {
  max-width: 700px;
  width: 100%;
  border: 1px solid white;
  margin: 150px auto;
  padding: 20px;
  border-radius: 10px;
}

#question-title {
  font-size: 30px;
  margin-bottom: 15px;
  text-align: left;
}

.options button {
  display: block;
  margin: 10px 0;
}

.feedback {
  font-style: bold;
  font-size: 20px;
  margin-top: 20px;
  padding-top: 15px;
  color: white;
  border-top: 2px solid #08f;
}
